.search-input{
    width: 80%;
    border: 1px solid #eee;
    margin: 40px auto;
    padding: 20px;
    display: block;
    border-radius: 5px;
}

.search-person-box{
    width: calc(25% - 30px);
    float: left;
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 5px;
    margin: 15px;
    text-align: center;
}

.search-person-box span{
    color: #fff;
}

body{
    background-image: url(/img/wallpaper.jpg);

}

.navbar-default .container ul.nav{
    margin-left: calc(50% - 72px);
}

.navbar-default{
    border-radius: 0px;
}

.logo-first{
    background-image: url(/img/Star-Wars-9-Rumors-Traitor-Twist.jpg);
    width: 100%;
    height: 319px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.personal-info-wrapper{
    border: 1px solid #f8f8f8;
    min-height: 200px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    margin-top: 20px;
}
footer{
    min-height: 50px;
    margin-top: 20px;
    background-color: #303030;
    color: #fff;
    text-align: center;
    padding: 20px 0px;
}

.no-history{
    padding: 50px;
    text-align: center;
    width: 100%;
    margin: auto;
    display: block;
    color: #fff;
    font-weight: 65px;
    font-size: 40px;
}

.consecutive-person-item{
    background-color: #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 10px;
    display: inline-block;
}

.consecutive-person-title{
    color: #fff;
    padding: 20px 0px 10px;
    margin-left: 10px;
    font-size: 16px;
}

.navbar-item{
    padding: 15px;
    display: inline-block;
}
